.card {

  &-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    justify-items: center;
  }

  &-product {
    padding: 18px;
    background-color: white;
    border-radius: 5px;
    margin-top: 30px;
    width: 100%;
  }

  &-image {
    & img {
      width: 100%;
    }
  }

  &-info {
    height: 100%;
  }

  &-name {
    font-size: 22px;
    margin-bottom: 39px;
    margin-top: 5px;
  }

  &-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &-price {
    color: #838383;
    font-size: 18px;
  }

  &-button {
    background-color: white;
    border: none;
    color: #FF8F52;
    font-size: 18px;

    & img {
      width: 20px;
    }
  }



}
