.shop-cheep {

    &__button {
        background-color: white;
        border: none;
        font-size: 18px;
        display: flex;
        align-items: center;
        cursor: pointer;

        & img {
            padding-right: 5px;
            transition: .3s all;

            &.active {
                transform: rotate(180deg);
            }
        }
    }
}