.posts {
  &-contents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    justify-items: center;
  }

  &-content {
    background-color: white;
    border-radius: 5px;
    margin-top: 30px;
    max-height: 478px;
    height: 100%;
  }

  &-avatar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;

    &__name {
      display: flex;
      align-items: center;

      & img {
        padding-right: 5px;
        height: 40px;
        width: 40px;
      }
    }

    &__date {
      color: #838383;
    }  
  }

  &-image {
    padding-top: 10px;
  }
  
  &-text {
    margin-top: 15px;
    margin-left: 10px;

    &__top {
        font-size: 20px;
        margin-bottom: 13px;
    }

    &__bot {
        color: #838383;
        max-width: 310px;
    }
  }

  &-more {
    display: flex;
    justify-content: space-between;
    margin: 25px 25px 0px 15px;

    &__like {
        display: flex;
        align-items: center;
        color: #838383;

        & img {
            padding-left: 5px;
        }
    }

    &__number {
        padding-right: 10px;
    }

    &__text {
        font-size: 18px;
    }
  }
}
