.rating {
    position: relative;
    margin-top: 1px;

    &-inactive {
        position: absolute;
        display: flex;
    }

    &-active {
        position: absolute;
        display: flex;
    }
}
