.review {
  background-color: white;
  margin-top: 30px;
  padding: 20px 40px;
  max-width: 580px;
  width: 100%;

  &-info {
    display: flex;
    justify-content: space-between;

    &__name {
      font-size: 22px;
    }

    &__text {
      font-size: 22px;
      color: #FF8F52;

    }
  }

  &-content {
    display: flex;
    margin-top: 30px;
  }

  &-comment {
    margin-left: 20px;

    &__name {
      font-size: 22px;
      margin-bottom: 10px;
    }

    &__text {
      font-size: 22px;
      color: #838383;
      width: 100%;
      max-width: 336px;
      margin-bottom: 15px;
    }

    &__rating {
      margin-bottom: 30px;

    }
  }
}
