.section {
  padding: 0 97px;
  h1 {
    font-size: 60px;
  }

  &-text {
    font-size: 20px;
    color: #838383;
    margin-bottom: 50px;
  }

  &-button {
    font-size: 18px;
    background-color: #FF8F52;
    width: 103px;
    border-radius: 5px;
    border: none;
    height: 40px;
  }


  &-main {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;

    &__left {
      display: grid;

    }

    &__right {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 20px;

    }
  }

  &-title {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

    &__text {
      font-size: 32px;
      margin-top: 115px;
    }

    &__line {
      background-color: #D9D9D9;
      height: 4px;
      width: 150px;
      margin: 135px 20px 0px 20px;

    }
  }
}
