$color: rgba(255, 255, 255, 0.2);
$orange: (rgb(242, 148, 53));

.header {
  background-color: $color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;

  &-logo {
    font-size: 32px;
    margin-left: 50px;

    &__color {
      color: $orange;
    }
  }

  &-link {
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
    color: black;
    color: $orange;
  }

  &-icon {
    margin-right: 100px;
  }
}
